<h1>Your Cart</h1>


<% @products.each do |product| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= product.title %></h2>
    </div>
    <div class="panel-body">
    <p>
      <strong>Author:</strong>
      <%= product.author %>
    </p>
    <p>
      <strong>Published on:</strong>
      <%= product.published_on %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>
    </div>
  </div>
<%end%>